<template class="template-container">
	<section class="section home-section is-shown">
	<!--<section class="section home-section">-->
		<style> @import "./styles/home.css"; </style>
	</section>
</template>