<template class="template-container">
	<section class="section nismed-earthquake-sensing-section earthquake">
	<!--<section class="section nismed-earthquake-sensing-section earthquake is-shown">-->
		<style> @import "./styles/nismed-earthquake-sensing.css"; </style>
    <!--<h1 class="earthquake-value">Value</h1>-->
		<div class="earthquake-container">

		<div class="earthquake-sidebar">
			<div class="earthquake-module">
				<hgroup>
					<h4>Physics</h4>
					<h3>Earthquake Sensing</h3>
				</hgroup>
			</div>

			<div class="tremor-latest-info info-nibblet">
				<i class="fa fa-fw fa-clock-o fa-3x"></i>
				<hgroup>
					<h4>Latest Tremor</h4>
					<h2 class="tremor-latest-accel">Reading...</h2>
					<h3 class="tremor-latest-time">Reading...</h3>
				</hgroup>
			</div>

			<div class="tremor-largest-info info-nibblet">
				<i class="fa fa-fw fa-exclamation-circle fa-3x"></i>
				<hgroup>
					<h4>Largest Tremor</h4>
					<h2 class="tremor-largest-accel">Reading...</h2>
					<h3 class="tremor-largest-time">Reading...</h3>
				</hgroup>
			</div>

			<!--<div class="wind-info info-nibblet">
				<i class="fa fa-fw fa-compass fa-3x earthquake-compass compass-N"></i>
				<hgroup>
					<h4>Wind</h4>
					<h2 class="wind-speed">33.33 km/h</h2>
					<h3 class="wind-direction">North</h3>
				</hgroup>
			</div>

			<div class="temp-info info-nibblet">
				<i class="fa fa-fw fa-thermometer-half earthquake-temp fa-3x"></i>
				<hgroup>
					<h4>Temperature</h4>
					<h2 class="temp-data">28.06 °C</h2>
				</hgroup>
			</div>

			<div class="rain-info info-nibblet">
				<i class="fa fa-fw fa-moon-o earthquake-rain fa-3x"></i>
				<hgroup>
					<h4>Rainfall</h4>
					<h2 class="rain-fall">0 mm/h</h2>
				</hgroup>
			</div>-->

			<div class="earthquake-options">
				<div data-earthquake="record" class="button earthquake-record start"><i data-earthquake="record" class="fa fa-play fa-fw" aria-hidden="true"></i> Start Recording</div>
				<div data-earthquake="reset" class="button earthquake-reset save"><i data-earthquake="reset" class="fa fa-gear fa-fw" aria-hidden="true"></i> Reset</div>
				<div data-earthquake="graphs" class="button earthquake-save-graphs save"><i data-earthquake="save" class="fa fa-hdd-o fa-fw" aria-hidden="true"></i> Save Graphs</div>
				<div data-earthquake="values" class="button earthquake-save-values save"><i data-motion="save" class="fa fa-hdd-o fa-fw" aria-hidden="true"></i> Save Values</div>
			</div>
		</div>

		<div class="earthquake-graphs">
			<div class="earthquake-accel-container">
				<div class="earthquake-accel-chart">
					<p>Seismogram (Real-Time)</p>
					<canvas id="earthquake-accel-chart" width="300" height="200"></canvas>
				</div>
			</div>

			<div class="tremors-container">
				<div class="tremors-chart">
					<p>Detected Tremors</p>
					<canvas id="tremors-chart" width="300" height="200"></canvas>
				</div>
			</div>

			<!--<div class="temp-container">
				<div class="temp-chart">
					<p>Ambient Temperature</p>
					<canvas id="temp-chart" width="300" height="200"></canvas>
				</div>
			</div>

			<div class="rain-container">
				<div class="rain-chart">
					<p>Rainfall</p>
					<canvas id="rain-chart" width="300" height="200"></canvas>
				</div>-->
			</div>
			
		</div>

		</div>
	</section>
</template>