<template class="template-container">
	<section class="section nismed-detecting-motion-section motion">
	<!--<section class="section nismed-detecting-motion-section motion is-shown">-->
		<style> @import "./styles/nismed-detecting-motion.css"; </style>
    <!--<h1 class="motion-value">Value</h1>-->
		<div class="motion-container">
			<div class="graphs-one">
				<div class="distances">
					<div class="distances-container">
						<p>Distance</p>
						<canvas id="distances-chart" width="300" height="200"></canvas>
					</div>
				</div>
				<div class="velocities">
					<div class="velocities-container">
						<p>Velocity</p>
						<canvas id="velocities-chart" width="300" height="200"></canvas>
					</div>
				</div>
				<div class="acceleration">
					<div class="acceleration-container">
						<p>Acceleration</p>
						<canvas id="acceleration-chart" width="300" height="200"></canvas>
					</div>
				</div>
				<div class="overlap">
					<div class="overlap-container">
						<p>Overlap</p>
						<canvas id="overlap-chart" width="300" height="200"></canvas>
					</div>
				</div>
			</div>
			<div class="graphs-two">
				<div class="motion-settings">
					<hgroup>
    				<h4>Physics</h4>
    				<h3>Detecting Motion</h3>
					</hgroup>
					<div data-motion="record" class="button motion-record start"><i data-motion="record" class="fa fa-play fa-fw" aria-hidden="true"></i> Start Recording</div>
					<!--<div class="button stop"><i class="fa fa-stop fa-fw" aria-hidden="true"></i> Stop Recording</div>-->
					<div data-motion="graphs" class="button motion-graphs save"><i data-motion="save" class="fa fa-hdd-o fa-fw" aria-hidden="true"></i> Save Graphs</div>
					<div data-motion="values" class="button motion-values save"><i data-motion="save" class="fa fa-hdd-o fa-fw" aria-hidden="true"></i> Save Values</div>
				</div>
			</div>
		</div>
		<!--<canvas id="updating-chart" width="1" height="1"></canvas>-->
	</section>
</template>