<template class="template-container">
	<section class="section nismed-weather-station-section weather">
	<!--<section class="section nismed-weather-station-section weather is-shown">-->
		<style> @import "./styles/nismed-weather-station.css"; </style>
    <!--<h1 class="weather-value">Value</h1>-->
		<div class="weather-container">

		<div class="weather-sidebar">
			<div class="weather-module">
				<hgroup>
					<h4>Earth/Environmental Science</h4>
					<h3>Simple Weather Station</h3>
				</hgroup>
			</div>

			<div class="weather-date">
				<hgroup>
					<h4 class="weather-day-of-week">Monday</h4>
					<h3 class="weather-day">30 January 2017</h3>
				</hgroup>
			</div>

			<div class="wind-info info-nibblet">
				<i class="fa fa-fw fa-compass fa-3x weather-compass compass-N"></i>
				<hgroup>
					<h4>Wind</h4>
					<h2 class="wind-speed">33.33 km/h</h2>
					<h3 class="wind-direction">North</h3>
				</hgroup>
			</div>

			<div class="temp-info info-nibblet">
				<i class="fa fa-fw fa-thermometer-half weather-temp fa-3x"></i>
				<hgroup>
					<h4>Temperature</h4>
					<h2 class="temp-data">28.06 °C</h2>
				</hgroup>
			</div>

			<div class="rain-info info-nibblet">
				<i class="fa fa-fw fa-moon-o weather-rain fa-3x"></i>
				<hgroup>
					<h4>Rainfall</h4>
					<h2 class="rain-fall">0 mm/h</h2>
				</hgroup>
			</div>

			<div class="weather-options">
				<div data-weather="graphs" class="button weather-save-graphs save"><i data-weather="save" class="fa fa-hdd-o fa-fw" aria-hidden="true"></i> Save Graphs</div>
				<div data-weather="values" class="button weather-save-values save"><i data-motion="save" class="fa fa-hdd-o fa-fw" aria-hidden="true"></i> Save Values</div>
			</div>
		</div>

		<div class="weather-graphs">
			<div class="wind-container">
				<div class="wind-chart">
					<p>Wind Speed</p>
					<canvas id="wind-chart" width="300" height="200"></canvas>
				</div>
			</div>

			<div class="temp-container">
				<div class="temp-chart">
					<p>Ambient Temperature</p>
					<canvas id="temp-chart" width="300" height="200"></canvas>
				</div>
			</div>

			<div class="rain-container">
				<div class="rain-chart">
					<p>Rainfall</p>
					<canvas id="rain-chart" width="300" height="200"></canvas>
				</div>
			</div>
			
		</div>

		</div>
	</section>
</template>