<template class="template-container">
	<section class="section nismed-thermal-equilibrium-section thermal">
	<!--<section class="section nismed-thermal-equilibrium-section thermal is-shown">-->
		<style> @import "./styles/nismed-thermal-equilibrium.css"; </style>
    <!--<h1 class="thermal-value">Value</h1>-->
		<div class="thermal-container">

		<div class="thermal-sidebar">
			<div class="thermal-module">
				<hgroup>
					<h4>Physics</h4>
					<h3>Thermal Equilibrium</h3>
				</hgroup>
			</div>

			<div class="temp-info info-nibblet">
				<i class="fa fa-fw fa-thermometer-half thermal-temp fa-3x"></i>
				<hgroup>
					<h4>Probe #1</h4>
					<h2 class="temp-data1">Reading...</h2>
				</hgroup>
			</div>

			<div class="temp-info info-nibblet">
				<i class="fa fa-fw fa-thermometer-half thermal-temp fa-3x"></i>
				<hgroup>
					<h4>Probe #2</h4>
					<h2 class="temp-data2">Reading...</h2>
				</hgroup>
			</div>

			<div class="thermal-options">
				<!--<div class="button thermal-save-start save"><i data-thermal="save" class="fa fa-hdd-o fa-fw" aria-hidden="true"></i> START </div>-->
				<!--<div data-motion="record" class="button motion-record start"><i data-motion="record" class="fa fa-play fa-fw" aria-hidden="true"></i> Start Recording</div>-->
				<div data-thermal="record" class="button thermal-save-start start"><i data-thermal="save" class="fa fa-play fa-fw" aria-hidden="true"></i> Start Recording</div>
				<div data-thermal="graphs" class="button thermal-save-graphs save"><i data-thermal="save" class="fa fa-hdd-o fa-fw" aria-hidden="true"></i> Save Graphs</div>
				<div data-thermal="values" class="button thermal-save-values save"><i data-motion="save" class="fa fa-hdd-o fa-fw" aria-hidden="true"></i> Save Values</div>
			</div>
		</div>

		<div class="thermal-graphs">

			<div class="temp-container">
				<div class="thermal-chart">
					<p>Temperature</p>
					<canvas id="thermal-chart" width="400" height="500"></canvas>
				</div>
			</div>

			<div class="temp-container">
				<div class="thermal-difference-chart">
					<p>Temperature</p>
					<canvas id="thermal-difference-chart" width="400" height="500"></canvas>
				</div>
			</div>
			
		</div>

		</div>
	</section>
</template>