body {
  height: 100vh;
  background-color: #37588a;
  font-family: "Open Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  animation: chill-fade 0.5s;
}


@keyframes chill-fade {
  0% {
    background-color: #ffffff;
  }

  100% {
    background-color: #37588a;
  }
}
* {
  -webkit-transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: default;
  font-size: 1vmax;
}

.section {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.85);
}

.section.is-shown {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

h1 {
  font-size: 2.5vmax;
}

h2 {
  font-size: 2vmax;
}

h3 {
  font-size: 1.5vmax;
}

h4 {
  font-size: 1.25vmax;
}
