.home-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 4vmax;
  color: #86a2cc;
}

.home-section h1:last-child, .home-section h2:last-child, .home-section h3:last-child, .home-section h4:last-child {
  color: #dfe7f2;
}

.home-section h1, .home-section h2, .home-section h3, .home-section h4 {
  flex: 0 1 auto;
  margin: 0;
}

.home-section h1 {
  font-weight: 600;
  font-size: 2.5vmax;
  line-height: 1.5;
}

.home-section h3 {
  font-weight: 400;
  font-size: 1.5vmax;
  line-height: 2;
}

.home-section h4 {
  font-weight: 400;
  font-size: 1.25vmax;
  line-height: 2;
}

.home-section h3 b {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5vmax;
  text-shadow: 0px 2px 2px #294061;
}

.arduino-buffering {
  color: #86a2cc;
  opacity: 0;
}

.home-section h3:last-of-type .arduino-buffering {
  opacity: 1;
}