.nismed-weather-station-section {
  padding: 1vmax;
  background-color: #b91d47;
}

.weather h1, .weather h2, .weather h3, .weather h4 {
  text-align: center;
  font-weight: 200;
  color: #f1a9bd;
  margin: 0;
}

.weather h3 {
  font-weight: normal;
  color: #f9d5de;
}

.weather h2 {
  font-weight: bold;
  color: #fbe6eb;
}

.weather h4 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1vmax;
}

.weather-container {
  display: flex;
  width: 100%;
  height: 95vh;
  overflow-y: hidden;
}

.weather-sidebar {
  flex: 1 1 0;
  display: flex;
  flex-flow: column;
  justify-content: center;  
}

.weather-graphs {
  flex: 3 1 0;
  flex-flow: column;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.wind-container, .rain-container, .temp-container {
  flex: 1 1 0;
  padding: 0.25vmax;
}

.wind-container {
  margin-top: 240px;
}

.wind-chart, .rain-chart, .temp-chart {
  background-color: #FFFFFF;
  padding: 0.5vmax 1.25vmax;
  display: flex;
  flex-flow: column;
  color: black;
  text-align: center;
  justify-content: center;
  box-shadow: 0 5px 5px #861534;
}

.weather-graphs p {
  margin: 2px;
  font-size: 10px;
  color: dimgray;
  text-transform: uppercase;
}

.weather-options {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.weather-graphs canvas {
  max-height: 38vh;
}

.weather .button {
  padding: 1vmax;
  font-size: 1.2vmax;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-user-select: none;
  -webkit-transition: all 0.09s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.09s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.09s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  margin: 1vmax 0;
  display: inline;
}

.info-nibblet {
  display: flex;
  align-items: center;
  padding: 1vmax 1vmax;
}

.info-nibblet hgroup {
  flex: 1 1 0;
  padding-left: 1vmax;
}

.info-nibblet h4, .info-nibblet h3, .info-nibblet h2 {
  text-align: left;
}

.weather-module, .weather-date {
  padding: 1vmax 1vmax;
}

.weather-module h3, .weather-module h4 {
  text-align: center;
}

.compass-N {
  transform: rotate(-30deg);
}

.compass-NE {
  transform: rotate(15deg);
}

.compass-E {
  transform: rotate(60deg);
}

.compass-SE {
  transform: rotate(105deg);
}

.compass-S {
  transform: rotate(150deg);
}

.compass-SW {
  transform: rotate(195deg);
}

.compass-W {
  transform: rotate(240deg);
}

.compass-NW {
  transform: rotate(285deg);
}