.nismed-thermal-equilibrium-section {
  padding: 1vmax;
  background-color: #b95e1d;
}

.thermal h1, .thermal h2, .thermal h3, .thermal h4 {
  text-align: center;
  font-weight: 200;
  color: #f0cfa8;
  margin: 0;
}

.thermal h3 {
  font-weight: normal;
  color: #f9e9d5;
}

.thermal h2 {
  font-weight: bold;
  color: #faece5;
}

.thermal h4 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1vmax;
}

.thermal-container {
  display: flex;
  width: 100%;
  height: 95vh;
  overflow-y: hidden;
}

.thermal-sidebar {
  flex: 1 1 0;
  display: flex;
  flex-flow: column;
  justify-content: center;  
}

.thermal-graphs {
  flex: 3 1 0;
  flex-flow: column;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.temp-container {
  flex: 1 1 0;
  padding: 0.25vmax;
}

.thermal-chart, .thermal-difference-chart {
  background-color: #FFFFFF;
  padding: 0.5vmax 1.25vmax;
  display: flex;
  flex-flow: column;
  color: black;
  text-align: center;
  justify-content: center;
  box-shadow: 0 5px 5px #861534;
}

.thermal-graphs p {
  margin: 2px;
  font-size: 10px;
  color: dimgray;
  text-transform: uppercase;
}

.thermal-options {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.thermal-graphs canvas {
  max-height: 38vh;
}

.thermal .button {
  padding: 1vmax;
  font-size: 1.2vmax;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-user-select: none;
  -webkit-transition: all 0.09s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.09s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.09s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  margin: 1vmax 0;
  display: inline;
}

.info-nibblet {
  display: flex;
  align-items: center;
  padding: 1vmax 1vmax;
}

.info-nibblet hgroup {
  flex: 1 1 0;
  padding-left: 1vmax;
}

.info-nibblet h4, .info-nibblet h3, .info-nibblet h2 {
  text-align: left;
}

.thermal-module, .thermal-date {
  padding: 1vmax 1vmax;
}

.thermal-module h3, .thermal-module h4 {
  text-align: center;
}
