.nismed-earthquake-sensing-section {
  padding: 1vmax;
  background-color: #a7a37e;
}

.earthquake h1, .earthquake h2, .earthquake h3, .earthquake h4 {
  text-align: center;
  font-weight: 200;
  color: #e6e2af;
  margin: 0;
}

.earthquake h3 {
  font-weight: normal;
  color: #efecca;
}

.earthquake h2 {
  font-weight: bold;
  color: #efecca;
}

.earthquake h4 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1vmax;
}

.earthquake-container {
  display: flex;
  width: 100%;
  height: 95vh;
  overflow-y: hidden;
}

.earthquake-sidebar {
  flex: 1 1 0;
  display: flex;
  flex-flow: column;
  justify-content: center;  
}

.earthquake-graphs {
  flex: 3 1 0;
  flex-flow: column;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.earthquake-accel-container, .tremors-container {
  flex: 1 1 0;
  padding: 0.25vmax;
}

.earthquake-accel-chart, .tremors-chart {
  background-color: #FFFFFF;
  padding: 0.5vmax 1.25vmax;
  display: flex;
  flex-flow: column;
  color: black;
  text-align: center;
  justify-content: center;
  box-shadow: 0 5px 5px #605e49;
}

.earthquake-graphs p {
  margin: 2px;
  font-size: 10px;
  color: dimgray;
  text-transform: uppercase;
}

.earthquake-options {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.earthquake-graphs canvas {
  max-height: 38vh;
}

.earthquake .button {
  padding: 1vmax;
  font-size: 1.2vmax;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-user-select: none;
  -webkit-transition: all 0.09s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.09s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.09s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  margin: 1vmax 0;
  display: inline;
}

.earthquake-module, .earthquake-date {
  padding: 1vmax 1vmax;
}

.earthquake-module h3, .earthquake-module h4 {
  text-align: center;
}
