.nismed-detecting-motion-section {
  padding: 1vmax;
  background-color: #20aea0;
}

.motion h1, .motion h3, .motion h4 {
  text-align: center;
  font-weight: 100;
  color: #c6f4f0;
  margin: 0;
}

.motion h3 {
  font-weight: normal;
  color: #cdf5f1;
}

.motion h4 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1vmax;
}

.motion-container {
  display: flex;
  width: 100%;
  height: 95vh;
}

.graphs-one, .graphs-two {
  display: flex;
  flex-flow: column;
}

.graphs-one {
  flex: 2 1 0;
  overflow-y: scroll;
}

.graphs-two {
  flex: 1 1 0;
}

.distances, .velocities, .acceleration, .overlap, .motion-settings {
  flex: 1 1 0;
  padding: 0.25vmax;
}

canvas {
  width: 100% !important;
  max-height: 24vh;
  height: auto !important;
  background-color: white;
}

canvas#overlap-chart {
  max-height: 75vh;
}

.motion-settings {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.graphs-one p {
  margin: 2px;
  font-size: 1vmax;
  color: dimgray;
  text-transform: uppercase;
}

.motion .button {
  padding: 1vmax;
  font-size: 1.2vmax;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-user-select: none;
  -webkit-transition: all 0.09s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.09s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.09s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  margin: 1vmax 0;
}

.hide {
  visibility: hidden;
}

.button i {
  margin-right: 3px;
}

.button.start {
  background-color: #65c844;
  box-shadow: 0 5px 0 #4fa831, 0 7px 5px rgba(0,0,0,0.5);
}

.button.start:hover {
  background-color: #79cf5c;
}

.button.start:active {
  background-color: #58bb37;
  box-shadow: 0 3px 0 #47982c, 0 7px 5px rgba(0,0,0,0.5);
}

.button.stop {
  background-color: #cc6142;
  box-shadow: 0 5px 0 #ab4a2e, 0 7px 5px rgba(0,0,0,0.5);
}

.button.stop:hover {
  background-color: #cf694b;
}

.button.stop:active {
  background-color: #bf5333;
  box-shadow: 0 3px 0 #984229, 0 7px 5px rgba(0,0,0,0.5);
}

.button.save {
  background-color: #EFF4FF;
  box-shadow: 0 5px 0 #bbcfff, 0 7px 5px rgba(0,0,0,0.5);
  color: black;
}

.button.save:hover {
  background-color: #fbfcff;
}

.button.save:active {
  background-color: #d9e4ff;
  box-shadow: 0 3px 0 #aac4ff, 0 7px 5px rgba(0,0,0,0.5);
}

.distances-container, .velocities-container, .acceleration-container, .overlap-container {
  background-color: #FFFFFF;
  padding: 0.5vmax 1.25vmax;
  display: flex;
  flex-flow: column;
  color: black;
  text-align: center;
  justify-content: center;
  box-shadow: 0 5px 5px #115952;
}